* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(216, 207, 171);
}

header{
    background-color: rgb(77, 136, 165);
    text-align: center;
    padding: 15px;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(252, 189, 0);
}

h1{
    display: inline-block;
}

header img{
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    top: 30px;
}

.menu{
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
}

.menu a {
    color: rgb(252, 189, 0);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.menu a:hover{
    background-color: rgb(77, 136, 165);
    color: black;
}

.menu-mobile{
    display: none;
}

.menu-mobile img{
    width: 40px;
    height: 40px;
    padding: 5px;
    position: relative;
    right: 0px;
}